.ant-modal-title {
    margin: 0;
   
    
    word-wrap: break-word !important; 

    font-family: 'Poppins' !important;
font-style: normal !important;
font-weight: 500 !important;
font-size: 18px !important;

/* identical to box height */
color: #000000;
}

/* RetryModal.css */

/* RetryModal.css */

.modal-content {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensures buttons span the width of the modal */
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .modal-button {
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Add smooth transition for button changes */
  }
  
  /* Style for the first button */
  .modal-button.btn-x {
    background-color: #2ecc71; /* Change to green (#2ecc71) for the retry button */
    border: 1px solid #2ecc71;
    color: white;
    transition: background-color 0.3s ease-in-out;  
}
  
  /* Style for the second button */
  .modal-button.btn-y {
    background-color: white;
    border: 1px solid #e74c3c; /* Choose your color y */
    color: #e74c3c;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Hover effect for the first button */
  .modal-button.btn-x:hover {
    background-color: white;
    border-color:  #2ecc71 !important; /* Back to color x on hover */
    color:  #2ecc71 !important;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Hover effect for the second button */
  .modal-button.btn-y:hover {
    background-color: #e74c3c;
    border-color: #e74c3c !important;
    color: white !important; /* Change text color to white on hover */
    transition: background-color 0.3s ease-in-out;
  }