.continue-courses-main{
    display: flex;
    flex-direction: column;
  

}
.continue-courses-header{
font-size: 1.2rem;
font-family: 'Syne', sans-serif;
text-align: left;
padding-left: 2vw;
margin-bottom: 3vh;
margin-top: 2vh;

}
.continue-courses-content {
    margin-left: 2vw;
  }

  .all-courses-main{
    display: flex;
    flex-direction: column;
  }
  
  .all-courses-title{
    font-size: 1.4rem;
    font-family: 'Syne', sans-serif;
    text-align: left;
    padding-left: 2vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    display: flex;
    gap: 17vw;
}

  .all-courses-content{
    margin-left: 2vw;
  }

  .search-input-for-home{
    background: #FFFFFF;
    /* Grey(Outline) */
  height:5vh;
  position:relative;
    width: 40%;
    border: 2px solid #888;
    border-radius: 49px;
    ::placeholder{font-size: 16px; padding-left: 0rem;}

   padding-left: 1vw;
    /* margin-top: 2vh; */
  }


  /* Media query for phone screen sizes (less than or equal to 600px) */
@media (max-width: 600px) {
  .search-input-for-home{
    width: 80%;
    margin-left: 7%;
    padding-left: 3vw;
  }
  .all-courses-title{
    text-align: center;
    flex-direction: column;
  }
  .continue-courses-header{
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 2vh;
  }
}