.single-card {
    background: #1B2A41;
    border-radius: 20px;
    width: 24vw;
    height: 22vh;
   
/* Adjust the values for your desired shadow */
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.single-card:hover {
    transform: scale(1.05); /* Zoom out on hover */
    box-shadow: 0 12px 18px inherit; /* Adjust the values for your desired hover shadow */
}
.single-card-title{
    font-family: 'Syne', sans-serif;
    align-self: center;
    color: white;
    font-size: 1.4rem;
    
}


/* Media query for phone screen sizes (less than or equal to 600px) */
@media (max-width: 600px) {
    .single-card {
        width: 80vw; /* Adjust the width as needed */
        height: 30vh; /* Adjust the height as needed */
    }

    .single-card-title {
        font-size: 1.2rem; /* Adjust the font size as needed */
    }
}