.login-main-div{
    width: 100vw;
    height: 100vh;

}

.login-header{
    width: 100%;
    height: 8%;
    vertical-align: middle;
    align-content: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #324A5F;
   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.login-component {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 92vh; /* You can use vh (viewport height) units for relative height */
    background-color: #f0f0f0; /* Background color for login-component */
   
  }
  
  .login-card {
    width: 80.19%; /* (334 / 414) * 100% */
    height: 63.59%; /* (466 / 736) * 100% */

    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);  /* Add a shadow to the card */
    border-radius: 20px;
    position: relative; /* Add position relative */
  z-index: 10; /* Set a higher z-index value */
  display: flex;
  flex-direction: column; /* Stack the inputs vertically */
  align-items: center; 
  gap: 5vh;
  background: linear-gradient(0deg, #1B2A41, #1B2A41),linear-gradient(0deg, #7D7878, #7D7878);
  color: white;
  padding-top: 10vh;
  text-align: center;

  }
  .input-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically */
    gap: 1vw;
    font-family: 'Syne', sans-serif;
    align-self: center;
  }
  
  .login-label {
    font-weight: bold;
    font-family: 'Syne', sans-serif;
    font-size: 1.3rem;
    text-align: center;
  }
  
  .login-input {
    width: 120%;
    border: 1px solid #ccc;
    border-radius: 5px;
   left: -10%;
   position: relative;
    height: 5vh;
    color: black;
    
  }
  /* Add padding to the placeholder text */
.login-input::placeholder {
    padding-left: 2vw;
font-size: 1rem;  
color: black;
}


  
/* Media query for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 768px) {
    .login-card {
      flex-direction: column; /* Stack labels and inputs in a column */
      align-items: flex-start; /* Align components to the left */
    }
  
    .input-group {
      flex-direction: row; /* Stack label and input in a column */
      align-items: flex-start; /* Align components to the left */
      gap: 2vw;

    }
  
    .login-label {
      margin-right: 0; /* Remove right margin for label */
      white-space: nowrap; /* Prevent label text from wrapping */
      display: flex; /* Use flex display to align vertically */
      align-items: center; /* Vertically center the text */
      vertical-align: middle;
      /* padding: 10px 0px; */
    
    }
  }
  