.chapters-main{
width: 100%;
display: flex;
flex-direction: column;
}
.subject-header{
width: 100%;
height: 15vh;
display: flex;
align-items: center;
text-align: left !important;
padding-left: 5vw;
vertical-align: middle;

}

.subject-heading-text{
    font-size: 2.2rem;
    font-family: 'Poppins', sans-serif;
    color: #1B2A41;
}

@media (max-width: 600px) {
    .subject-heading-text{
        font-size: 1.7rem;
;
    }
}

.zigzag-line {
    width: 1px; /* Width of the line */
    border-left: 3px dotted #000; /* Dotted border style */
    height: 30%; /* Adjust as needed */
    position: absolute; /* Position for absolute positioning */
    top: 45% !important;
    left: 38%;
  }
  
  .zigzag-line:nth-child(even) {
    transform: rotate(45deg); /* Rotate even lines by 45 degrees */
  }
  