/* AdminQuestionComp.css */

/* Question Container Styling */
.question-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  .question-container h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .question-container ul {
    list-style: none;
    padding: 0;
  }
  
  .question-container li {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }
  
  .question-container p {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    color: #007bff;
  }
  
  

  .adminQuestionComp{
    width: 100%;
    height: 100%;
  }

  .submit-button{
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 10px 25px; /* Padding for the button */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on ho*/
  }
  .submit-button:hover{
    background-color: #0056b3; /* Darker blue background on hover */
  }

  .subMitDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
  }