/* QuestionComp.css */
.questions-div {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .questions-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f0f0f0;

  }
  
 
  .single-question-main {
    flex-grow: 1; /* This makes the div take up the remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content:flex-start; /* Vertically center content */
    align-items: center; /* Horizontally center content */
    gap: 20px; /* Add spacing between elements */
  }
  
  

.progress-section{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 1vh;
}
.progress-content{

    width: 90%;
    
}

/* Add this to your CSS file or component styles */
.next-button {
  
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  /* transition: background-color 0.3s ease, transform 0.2s ease; */
  font-size: 16px;
  width: auto; /* Remove fixed width to allow content to determine width */
  white-space: nowrap; /* Prevent text from wrapping */



}


.animated-button {
  border: 2px solid #007bff;
border-radius: 25px;
  background-color: white;
  color: #007bff;
  background-image: linear-gradient(
    to right,
    white 0%,
    white 50%,
    #007bff 50%,
    #007bff 100%
  );
  background-size: 200% 100%;
  transition: background-position 0.5s, color 0.5s;
}

.animated-button.animated {
  background-position: -100% 0;
  color: white;
}

.animated-button.animated:hover {
  color: white;
  transform: scale(1.1); /* Scale up the button on hover */
}


/* Add styles for the completion message */
.completion-message {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  padding: 20px;
}




/* Style for different completion messages based on the score */
/* You can use class names like .perfect, .good, .try-again */
.perfect {
  color: #4caf50; /* Green for perfect score */
}

.good {
  color: #007bff; /* Blue for good score */
}

.try-again {
  color: #ff5722; /* Red for try again message */
}



/* Media query for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 768px) {
    .questions-heading{
        font-size: 3vh;
        
    }
}

