.subchapter-heading{
    display: flex;
    justify-content: space-between;
    padding-right: 5vw;
    margin-bottom: 5vh;
    cursor: pointer;
    padding-left: 5vw;
}

 .goBack{
    display: flex;
    align-items: center;
    gap: 2vw;
 }
